@charset "UTF-8";
.flex, .footer, .login__container--social-media > div, .login, .header {
  display: flex;
  align-items: center;
}

body {
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
  background: rgb(201, 90, 17);
  /*background: linear-gradient(176deg, rgba(2,0,36,1) 0%, rgba(251,99,1,1) 0%, rgba(255,255,255,1) 100%);  */
}

.header {
  width: 100%;
  height: 80px;
  justify-content: space-between;
}

.header__img {
  width: 80px;
  margin-top: 40px;
  margin-left: 40px;
}

.header__{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
.header__menu {
    margin-right: 30px;
}
  
.header__menu ul {
    display: none;
    list-style: none;
    margin: 0 0 0 -14px;
    padding: 0;
    position: absolute;
    text-align: right;
    width: 100px;
}
  
.header__menu:hover ul, ul:hover {
    display: block;
}
  
.header__menu li {
    margin: 10px 0px;
}
  
.header__menu li a {
    text-decoration: none;
    color: white;
    font-family: "Josefin Sans", sans-serif;
}
  
.header__menu li a:hover {
    text-decoration: underline;
}
  
.header_menu--profile {
    margin-left: 35px;
    width: 50px;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    align-items: center;
}

.login {
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  padding: 60px 68px 40px;  
  min-height: 400px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}



.login__container-maps {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.login__container h2 {
  font-size: 25px;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

iframe {
    width: 350px;
    height: 350px;
}

.login__container--form label {
  font-size: 16px;
}

.login__container--remenber--me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remenber--me a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.login__container--remenber--me a:hover {
  text-decoration: underline;
}

.login__container--social-media > div {
  font-size: 16px;
  margin-bottom: 10px;
}

.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}

.login__container--register {
  font-size: 16px;
}
.login__container--register a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  height: 50px;
  width: 250px;
  letter-spacing: 1px;
  margin: 10px 0px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.button:hover {
    background-color: rgba(82, 53, 53, 0.1);
    color: black;
    border: 1px solid black;
  }

.footer {
  width: 100%;
}

.footer a {
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100€;
  }

  .login__container-maps {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100€;
  }
}

/*# sourceMappingURL=Login.css.map */
